
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
}
.contact-info {
    text-align: center;
    margin-top: 20px;
}
.contact-info p {
    margin-bottom: 10px;
}
img{
    width: 800px;
    margin-left: 300px;
}